.pokemon_card {
    display: flex;
    flex-flow: column;

    height: 400px;
    width: 361px;
    padding: var(--spacing-xs);

    border-radius: var(--radius-xl);
}

.card_header {
    display: flex;
    align-items: center;

    padding: 0 var(--spacing-xs);
}

.card_header__name {
    color: var(--color-brand-0);

    font-size: var(--desktop-text-size-headline);
    font-weight: 600;
}

.card_header_id {
    margin-left: auto;

    color: var(--color-brand-0);
    opacity: 50%;
}

.card_body {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;

    width: 100%;
    height: 250px;

    margin-top: auto;
    padding: var(--spacing-s) var(--spacing-xs);
    gap: var(--spacing-xs);

    border-radius: var(--radius-l);
    background-color: var(--color-brand-0);
}

.card_body__image_container {
    display: flex;
    justify-content: center;

    height: var(--spacing-4xl);
    width: 100%;
}

.card_body__image {
    position: absolute;

    height: 140px;
    width: 140px;

    transform: translateY(-70%);
}

.card_body__types {
    display: flex;
    justify-content: center;

    width: 100%;

    gap: var(--spacing-2xs);
}

.card_body_pills {
    display: flex;
    align-items: center;

    height: var(--spacing-l);
    padding: var(--spacing-3xs) var(--spacing-xs);

    gap: var(--spacing-2xs);
    border-radius: 100px;
    color: var(--color-brand-0);

    font-size: 12px;
}

.card_body_pills--grass {
    background-color: var(--color-type-grass);
}

.card_body_pills--poison {
    background-color: var(--color-type-poison);
}

.card_body__pills_icon {
    height: var(--spacing-m);
    width: var(--spacing-m);
}

.card_body__measures_container {
    display: flex;

    height: var(--spacing-2xl);
    gap: var(--spacing-m);

}

.card_body_measures {
    display: flex;
    align-items: center;

    gap: var(--spacing-2xs);


}

.card_body_measures__icon {
    height: var(--spacing-l);
    width: var(--spacing-l);
}

.card_body_measures__separator {
    border: solid 0.5px var(--color-brand-1);
}

.card_body__stats {
    display: flex;
    flex-flow: column;

    width: 100%;
    gap: var(--spacing-3xs);
}

@media (max-width: 768px) {
    .pokemon_card {
        width: 100%;
        margin: 1rem 1rem;
    }

    .card_header__name {
        font-size: var(--mobile-text-size-headline);
    }
}

