.pokemon_card{
    display: flex;
    flex-flow: column;

    height: 400px;
    width: 361px;
    padding: var(--spacing-xs);

    border-radius: var(--radius-xl);
    background-color: var(--color-type-grass);
}

.card_header{
    display: flex;
}

.card_header__name{
    font-size: 20px;
    font-weight: 600;
}

.card_header_number{
    margin-left: auto;
}

