.stat_container{
    display: flex;
    align-items: center;

    height: var(--spacing-m);
    width: 100%;
    gap: var(--spacing-xs);
}

.stat_container__stat_name{
    font-size: 12px;
    color: var(--color-brand-3);
}

.stat_container__stat_value{
    font-size: 12px;
    color: var(--color-brand-9);
}

.bar_progress{
    width: 100%;
}
