:root{
    --radius-2xs: 0.25rem; /*4px*/
    --radius-xs: 0.5rem; /*8px*/
    --radius-s: 0.75rem; /*12px*/
    --radius-m: 1rem; /*16px*/
    --radius-l: 1.25rem; /*20px*/
    --radius-xl: 1.5rem; /*24px*/
    --radius-2xl: 2rem; /*32px*/
    }