:root{
    --shadow-size-s: 0px 2px 3px -1px #7D3BEC12, 0px 5px 10px -2px #7D3BEC26;
    --shadow-size-m: 0px 4px 6px -2px #7D3BEC0D, 0px 10px 15px -3px #7D3BEC1A;
    --shadow-size-l: 0px 6px 8px -3px #7D3BEC0D, 0px 15px 20px -5px #7D3BEC1A;
}