:root{
    /*MOBILE*/
    --mobile-text-size-display: 1.5rem; /*24px*/ 
    --mobile-text-size-headline: 1.25rem; /*20px*/ 
    --mobile-text-size-subheadline: 1rem; /*16px*/ 
    --mobile-text-size-link: 0.875rem; /*14px*/ 
    --mobile-text-size-body: 0.875rem; /*14px*/ 
    --mobile-text-size-caption: 0.75rem; /*14px*/ 
    
     /*DESKTOP*/
     --desktop-text-size-display: 1.75rem; /*28px*/ 
     --desktop-text-size-headline: 1.5rem; /*24px*/ 
     --desktop-text-size-subheadline: 1.125rem; /*18px*/ 
     --desktop-text-size-link: 1rem; /*16px*/ 
     --desktop-text-size-body: 1rem; /*16px*/ 
     --desktop-text-size-caption: 0.75rem; /*14px*/ 
}