:root{
    /*Layout sizing*/

    --layout-size-desktop-content: 71.875rem; /*1150px*/
    --layout-size-desktop-gap: 1rem; /*16px*/
    --layout-size-mobile-content: 100%;
    --layout-size-mobile-gap: 1rem;
    
    --media-query-size: 768px;

    /*Radius*/

    --radius-2xs: 0.25rem; /*4px*/
    --radius-xs: 0.5rem; /*8px*/
    --radius-s: 0.75rem; /*12px*/
    --radius-m: 1rem; /*16px*/
    --radius-l: 1.25rem; /*20px*/
    --radius-xl: 1.5rem; /*24px*/
    --radius-2xl: 2rem; /*32px*/

    /*Shadows*/

    --shadow-size-s: 0px 2px 3px -1px #7D3BEC12, 0px 5px 10px -2px #7D3BEC26;
    --shadow-size-m: 0px 4px 6px -2px #7D3BEC0D, 0px 10px 15px -3px #7D3BEC1A;
    --shadow-size-l: 0px 6px 8px -3px #7D3BEC0D, 0px 15px 20px -5px #7D3BEC1A;

    /*Spacing*/

    --spacing-3xs: 0.125rem; /*2px*/
    --spacing-2xs: 0.25rem; /*4px*/
    --spacing-xs: 0.5rem; /*8px*/
    --spacing-s: 0.75rem; /*12px*/
    --spacing-m: 1rem; /*16px*/
    --spacing-l: 1.25rem; /*20px*/
    --spacing-xl: 1.5rem; /*24px*/
    --spacing-2xl: 2rem; /*32px*/
    --spacing-3xl: 2.5rem; /*40px*/
    --spacing-4xl: 4rem; /*64px*/
}