.list_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  min-height: 100%;
  width: var(--layout-size-desktop-content);
  max-width: 100%;
  gap: var(--spacing-2xl);
}

@media (max-width: 768px) {
  .list_container {
    width: 100%;
  }
}
