.container_search {
    display: flex;
    justify-content: center;

    width: 100%;
}

.search_bar {
    display: flex;
    align-items: center;

    width: 37.5rem;
    max-width: 100%;
    height: 3rem;
    padding: var(--spacing-s) var(--spacing-m);
    gap: var(--spacing-m);
    margin: 4rem 0;

    background-color: var(--color-brand-1);
    border: 1px var(--color-brand-3) solid;
    border-radius: var(--radius-s);
}

.search_bar:has(.search_bar__input:focus) {
    border-color: var(--color-accent);
}

.search_bar__icon {
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}

.search_bar__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

@media (max-width: 768px) {
    .search_bar {
        width: 90%;
    }
}