@import './styles/colors.css';
@import './styles/font.css';
@import './styles/variables.css';

html,
body {
  display: flex;
  flex-flow: column;

  min-height: 100svh;
  width: 100%;
  background-color: var(--color-brand-05);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  flex-grow: 1;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--font-weight);
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  font-family: var(--desktop-font);

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
